<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

In [ ]:
Assignment Topic:
I was provided with an empty Jupyterlite notebook which I launched in the course, to complete this assignment. I needed to include a combination of markdown and code cells. I did not needed to use the Markdown cheat sheet to help me determine the appropriate syntax for my markdown.
Guidelines for the submission:

There are a total of 25 points possible for this final project.
I hope I will succeed, based on the following Exercises:
Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
Exercise 3 - Create a markdown cell for an introduction. (1 pt)
Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)
Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
Exercise 12 - Share your notebook through GitHub (3 pts)
Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

Exercise 1: Create a Jupyter Notebook
Name: Peer-graded_Assignment_Submitting_My_Work

Exercise 2 - Create a markdown cell with the title of the notebook.
Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction. (1 pt)
In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
List popular languages that Data Scientists use.
List commonly used libraries used by Data Scientists.
Comment on Data Science tools.

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are:
Python.
R.
SQL.
Java.
Julia.
Scala.
C/C++.
JavaScript.

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
Some of the commonly used libraries used by Data Scientists include:

TensorFlow.
NumPy.
SciPy.
Pandas.
Matplotlib.
Keras.
SciKit-Learn.
PyTorch.
Scrapy.
BeautifulSoup.
LightGBM.
ELI5.
Theano.
NuPIC.
Ramp.
Pipenv.
Bob.
PyBrain.
Caffe2.
Chainer

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

Data Science Tools:
Data Science Tools
SAS. It is one of those data science tools which are specifically designed for statistical operation
Apache Spark
BigML

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
code = compile("5 + 4", "<string>", "eval")
eval(code)

9

In [3]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)

24

In [4]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)

65449.84694978735

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

This will convert 200 minutes to hours by diving by 60

In [6]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

In [ ]:
Exercise 10 -Insert a markdown cell to list Objectives.

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.